{% extends 'moyemoye.html' %}
{ % block content % }
<div class="w-[1204px] h-[50px] relative scale-75">
    <div class="w-[1204px] h-[749px] left-0 top-[-1px] absolute">
        <img class="w-[1204px] h-[749px] left-0 top-0 absolute rounded-[14px] border-4 border-black" src="/static/mysite/bg.png">
        <div class="w-[1204px] h-[58px] left-0 top-0 absolute bg-[#F1EBDD] rounded-t-[14px] border-4 border-black">
            <div class="relative group">
                <img class="w-[25px] h-[25px] left-[16px] top-[13px] absolute hover:hidden" src="/static/mysite/circle.png">
                <img class="w-[25px] h-[25px] left-[16px] top-[13px] absolute hidden group-hover:flex" src="/static/mysite/close_hover.png">
            </div>
            <div class="relative group">
                <img class="w-[25px] h-[25px] left-[50px] top-[13px] absolute hover:hidden" src="/static/mysite/circle.png">
                <img class="w-[25px] h-[25px] left-[50px] top-[13px] absolute hidden group-hover:flex" src="/static/mysite/floating_hover.png">
            </div>
        </div>
        <div class="w-[372px] h-[73px] left-[416px] top-[80px] absolute rounded-[14px] drop-shadow-[12px_10px_0px_rgba(0,0,0,1)]">
            <div class="w-[372px] h-[73px] left-0 top-0 absolute bg-[#F1EBDD] rounded-[14px] shadow border-4 border-black">
                <div class="flex justify-center items-center pt-6 text-stone-900 text-[45px] font-bold font-['Roboto Mono'] leading-3 tracking-wider">
                    downloadables
                </div>
            </div>
        </div>
        <!-- <div class="w-[1087px] h-[161px] left-[58px] top-[200px] absolute scale-75">
            {% for entry in entries %}
            <div class="mb-8 bg-[#F1EBDD] text-stone-900 p-6 rounded-[14px] shadow-md flex">
                <div class="flex-1">
                    <h2 class="text-2xl font-bold mb-4">
                        {{ entry['properties']['Title']['title'][0]['text']['content'] }}
                    </h2>
                    <p class="text-gray-600 font-semibold">
                        {{ entry['properties']['summary']['rich_text'][0]['text']['content'] }}
                    </p>
                    Display categories/tags
                    <div class="mt-4">
                        {% for category in entry['properties']['categories']['multi_select'] %}
                        <span class="bg-stone-900 text-white px-3 py-2 rounded-full mr-2">
                            {{ category['name'] }}
                        </span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> -->
    </div>
</div> 
{ % endblock content %}