{% extends "moyemoye.html" %} {% block content %}

<div
  class="flex item-start justify-start  py-2 md:py-1"
>
    <div
      class="w-[450px] h-[749px] left-0 top-[-1px] absolute scale-50 md:scale-75"
    >
      <img
        class="w-[450px] h-[749px] left-0 top-0 absolute rounded-[14px] border-4 border-black drop-shadow-[12px_10px_0px_rgba(0,0,0,1)]"
        src="/static/mysite/bg.png"
      />

      <div class="w-[450px] h-[58px] left-0 top-0 absolute bg-[#F1EBDD] rounded-t-[14px] border-4 border-black">
          <div class="relative group">
          <img class="w-[25px] h-[25px] left-[16px] top-[13px] absolute hover:hidden" src="/static/mysite/circle.png" />
          <img class="w-[25px] h-[25px] left-[16px] top-[13px] absolute hidden group-hover:flex" src="/static/mysite/close_hover.png" />
        </div>
        <div class="relative group">
          <img class="w-[25px] h-[25px] left-[50px] top-[13px] absolute hover:hidden" src="/static/mysite/circle.png" />
          <img class="w-[25px] h-[25px] left-[50px] top-[13px] absolute hidden group-hover:flex" src="/static/mysite/floating_hover.png" />
        </div>
      </div>

      <div class="flex flex-col justify-center items-center gap-y-20 mt-20">
        <div
          class="bg-[#F1EBDD] rounded-[14px] drop-shadow-[12px_10px_0px_rgba(0,0,0,1)]"
        >
          <div class="w-[372px] h-[73px] relative">
            <div
              class="w-[372px] h-[73px] left-0 top-0 absolute bg-[#F1EBDD]2 rounded-[14px] shadow border-4 border-black"
            ></div>
            <div
              class="w-[106px] h-[26px] left-[19px] top-[30px] absolute text-center text-stone-900 text-[17px] font-bold font-['Roboto Mono'] leading-3 tracking-wide"
            >
              Search...
            </div>
          </div>
        </div>

        <div class="">
          <div
            class="w-[381px] h-[234.74px] relative bg-[#F1EBDD] rounded-[14px] drop-shadow-[12px_10px_0px_rgba(0,0,0,1)]"
          >
            <div
              class="w-[381px] h-[234.74px] left-0 top-0 absolute bg-[#F1EBDD] rounded-[14px] shadow border-4 border-black"
            ></div>
            <div
              class="w-[156px] h-[42px] left-[112px] top-[101px] absolute text-center text-stone-900 text-[19px] font-bold font-['Roboto Mono'] leading-3 tracking-wide"
            >
              Me
            </div>
            <div
              class="w-[156px] h-[35px] left-[112px] top-[37px] absolute text-center"
            >
              <span
                class="text-stone-900 text-[27px] font-bold font-['Roboto Mono'] leading-3 tracking-wide"
                >Welcome !</span
              >
            </div>
            <div class="w-[87px] h-[41px] left-[146px] top-[167px] absolute">
              <a href="https://dev.to/prometheus_78" class="pointer"><div
                class="w-[87px] h-[41px] left-0 top-0 absolute bg-[#F1EBDD] rounded-[14px] shadow border-4 border-black"
              ></div>
              <button
                class="pointer w-[75px] h-3 left-[6px] top-[14px] absolute text-center text-stone-900 text-sm font-bold font-['Roboto Mono'] leading-3 tracking-wide"
              >
                @Dev.to
              </button></a>
            </div>
            <div class="w-[87px] h-[41px] left-[42px] top-[167px] absolute">
              <a href="" class="pointer"
                ><div
                  class="w-[87px] h-[41px] left-0 top-0 absolute bg-[#F1EBDD]-200 rounded-[14px] shadow border-4 border-black"
                ></div>
                <button
                  class="pointer w-[75px] h-3 left-[6px] top-[14px] absolute text-center text-stone-900 text-sm font-bold font-['Roboto Mono'] leading-3 tracking-wide"
                >
                  @Github
                </button></a
              >
            </div>
            <div class="w-[87px] h-[41px] left-[250px] top-[167px] absolute">
              <a href="https://www.linkedin.com/in/tanishvashisth/" class="pointer">
                <div
                  class="w-[87px] h-[41px] left-0 top-0 absolute bg-[#F1EBDD]-200 rounded-[14px] shadow border-4 border-black"
                ></div>
                <button
                  class="pointer w-[75px] h-3 left-[6px] top-[14px] absolute text-center text-stone-900 text-sm font-bold font-['Roboto Mono'] leading-3 tracking-wide"
                >
                  @Linkdin
                </button></a
              >
            </div>
          </div>
        </div>

        <div class="w-[381px] h-[92.42px] ">
          <div
            class="flex justify-evenly items-center p-2 shadow border-4 border-black bg-[#F1EBDD] rounded-[14px] drop-shadow-[12px_10px_0px_rgba(0,0,0,1)]"
          >
            <a
              href="https://www.linkedin.com/in/tanishvashisth/"
              class="pointer"
            >
            <img width="50px" height="50px" src="/static/logos/linkedin.png" />
            </a>

            <a href="https://boguscode.notion.site/boguscode/Tanish-s-Dashboard-869f654446fe412eaeee863616bec204" class="pointer">
              <img width="52px" height="52px" src="/static/logos/notion.png" />
            </a>

            <a href="https://github.com/Prome-theus" class="pointer">
              <img width="55px" height="55px" src="/static/logos/github.png" />
            </a>

            <a href="https://dev.to/dashboard" class="pointer w-fit h-fit">
              <img width="50px" height="50px" src="/static/logos/dev.png" />
            </a>
          </div>
        </div>
      </div>
      <div
        class="w-[450px] h-[0px] left-0 top-[54px] absolute border-4 border-black"
      ></div>
    </div>
</div>
{% endblock content %}
