{% extends "moyemoye.html" %} {% block content %}
<div class="w-[1204px] h-[50px] relative scale-75">
  <div class="w-[1204px] h-[749px] left-0 top-[-1px] absolute">
    <img
      class="w-[1204px] h-[749px] left-0 top-0 absolute rounded-[14px] border-4 border-black"
      src="/static/mysite/bg.png"
    />
    <div
      class="w-[1204px] h-[60px] left-0 top-0 absolute bg-[#F1EBDD] rounded-t-[14px] border-4 border-black"
    >
      <div class="relative group">
        <img
          class="w-[25px] h-[25px] left-[16px] top-[13px] absolute hover:hidden"
          src="/static/mysite/circle.png"
        />
        <img
          class="w-[25px] h-[25px] left-[16px] top-[13px] absolute hidden group-hover:flex"
          src="/static/mysite/close_hover.png"
        />
      </div>
      <div class="relative group">
        <img
          class="w-[25px] h-[25px] left-[50px] top-[13px] absolute hover:hidden"
          src="/static/mysite/circle.png"
        />
        <img
          class="w-[25px] h-[25px] left-[50px] top-[13px] absolute hidden group-hover:flex"
          src="/static/mysite/floating_hover.png"
        />
      </div>
    </div>

    <div class="absolute w-[1150px] h-[749px] left-[32px] top-[15px]">
      <h1 class="text-2xl font-bold text-center mb-8">My Spotify Playlists</h1>

      <div
        class="grid gap-4 sm:gap-3 lg:gap-2 grid-cols-1 md:grid-cols-2 lg:grid-cols-6"
      >
        {% if playlists %} {% for playlist in playlists %}
        <a href="{{ playlist.external_urls.spotify }}" class="pointer">
          <div
            class="bg-[#212121] shadow-md rounded-md p-3 w-[170px] h-[200px]"
          >
            <img
              class="pointer bg-gray-90 w-[150px] h-[150px] rounded-md shadow-md"
              src="{{ playlist['images'][0]['url'] }}"
            />
            <h2
              class="text-sm text-white pt-2 font-semibold overflow-hidden truncate"
            >
              {{ playlist.name }}
            </h2>
          </div>
        </a>
        {% endfor %} {% else %}
        <p class="text-gray-600">No playlists found.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}


