{% extends "moyemoye.html" %} {% block content %}
<div class="container">
    <h1 class="text-3xl font-bold text-center mb-8">My Spotify Playlists</h1>
    
    <div class="grid gap-4 sm:gap-3 lg:gap-2 grid-cols-1 md:grid-cols-2 lg:grid-cols-6">
        {% if playlists %}
        {% for playlist in playlists %}
        <a href="{{ playlist.external_urls.spotify }}" class="pointer">
        <div class="bg-white shadow-md rounded-md p-3 w-[170px] h-[200px]">
            <img
              class="pointer bg-gray-90 w-[150px] h-[150px]"
              src="{{ playlist['images'][0]['url'] }}"
            />
            <h2 class="text-sm font-semibold overflow-hidden truncate">{{ playlist.name }}</h2>
        </div>
      </a>
        {% endfor %}
        {% else %}
        <p class="text-gray-600">No playlists found.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}

<!-- component -->
<div class="h-screen flex items-center justify-center bg-gray-900">
  
    <!-- Card -->
    <a class="hover:bg-gray-700 delay-50 duration-100 bg-gray-800 p-5 rounded-lg w-60 group" href="">
      
      <!-- Image Cover -->
      <img src="https://picsum.photos/250/250" class="w-full rounded shadow" />
      
      <!-- Title -->
      <h3 class="text-gray-200 font-bold mt-5"> Top 50 - Global</h3>
      
      <!-- Description -->
      <p class="text-gray-400 font-light mt-2 text-xs"> Your daily update of the most played track from around the world...</p>
      
    </a>
    
  </div>