{% extends "moyemoye.html" %}
{% block content %}
<div class="container mx-auto py-8">
    <div class="flex flex-col h-fit w-1/2">
        <div class="flex-grow flex h-full">
            <!-- Sidebar -->
            <div class="w-1/4 bg-gray-800 text-white relative rounded-tl-[14px] border-white border-t-4 border-l-4">
                <div class="flex flex-col items-center justify-center mt-9 mx-2 "> 
                    <ul class="space-y-4">
                        <li class="flex text-gray-400 hover:text-white">
                            <img class="w-[20px] h-[20px] pointer invert m-2 flex" src="/static/spotifyui/home.png"/>
                            <p class="text-lg mt-[6px]">Home</p>
                        </li>
                        <li class="flex text-gray-400 hover:text-white">
                            <img class="w-[20px] h-[20px] pointer invert m-2 flex" src="/static/spotifyui/search.png"/>
                            <p class="text-lg  mt-[6px]">Search</p>
                        </li>
                        <li class="flex text-gray-400 hover:text-white">
                            <img class="w-[20px] h-[20px] pointer invert m-2 flex" src="/static/spotifyui/lib.png"/>
                            <p class="text-lg  mt-[6px]">Your library</p>
                        </li>
                        <li class="flex text-gray-400 hover:text-white">
                            <img class="w-[20px] h-[20px] pointer invert m-2 flex" src="/static/spotifyui/plus.png"/>
                            <p class="text-lg  mt-[6px]">Create</p>
                        </li>
                        <li class="flex text-gray-400 hover:text-white">
                            <img class="w-[20px] h-[20px] pointer invert m-2 flex" src="/static/spotifyui/heart.png"/>
                            <p class="text-lg  mt-[6px]">liked songs</p>
                        </li>
                        <li class="flex text-gray-400 hover:text-white">
                            <img class="w-[24px] h-[24px] pointer invert m-2 flex" src="/static/spotifyui/episodes.png"/>
                            <p class="text-lg mt-[6px]">Your episodes</p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Main section -->
            <div class="flex-grow bg-[#121212] relative rounded-tr-[14px] border-white border-r-4 border-t-4">
                <div class="h-full flex items-center justify-center">
                    <iframe id="spotifyPlayer" src="https://open.spotify.com/embed/playlist/{{ playlist.id }}" width="500" height="500" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
        <!-- Bottom bar within the container -->
        <div class="bg-[#212121] py-4 rounded-b-[14px] border-white border-r-4 border-b-4 border-l-4 border-t-[#1db954] border-t-4">
            <div class="container mx-auto flex justify-center space-x-10">
                <img class="w-[25px] h-[25px] pointer invert m-2" src="/static/spotifyui/shuffle.png"/>
                <img class="w-[20px] h-[20px] pointer invert m-2" src="/static/spotifyui/play.png"/>
                <img class="w-[20px] h-[20px] pointer invert m-2" src="/static/spotifyui/pause.png"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}
